[Desktop Entry]
Type=Application
Name=RocketBox Tunnel
Comment=RocketBox USB IP tunnel tray
Exec=rocketbox-tunnel-tray
Icon=rocketbox
Terminal=false
Categories=Network;System;Utility;
Keywords=RocketBox;tunnel;USB;
StartupNotify=false
X-GNOME-Autostart-enabled=true
